<app-nav-menu></app-nav-menu>



<div id="tidbits">
    <h2>about me</h2>
    <p>
        Ohh I decided to write y'all a story about me, I like Purple, I might say taco randomly.
        I drink way to much monster, if I don't have them I'll die. I must listen to music daily or my head will explode.
        I have been accused of being a Filiburtos addict.
    </p>

    <p>
        When im not at work, what I find myself doing most is; massively consuming all knowledge about all things Virtual Reality or Augmented Reality,
        Playing around in VR worlds such as Second Life or High Fidelity, Or building things in the above worlds. And I sometimes play video games,
        once upon a time I used to play them a lot. Now I binge more on Netflix then games.
    </p>
    <p>
        When I finally tear myself away from a computer screen, like on the weekends or something. I'll be out exploring derelict abandonments,
        which includes abandon mines and ghost towns. Arizona has plenty of the former. If I'm not exploring I could still be found underground
        crawling through the many caves Arizona has, or maybe sitting on the bank of a river, rod in hand waiting for the next big one.
    </p>
</div>