body {
	padding-top: 12px;
}

.light-blue {
    background-color: #E6F1F6 !important;
}

.list-group-item {
    padding: 4px 2px;
}
.table-list-cell {
    position: relative;
    display: table-cell;
    padding: 8px 10px;
    vertical-align: top;
}

.commit-title {
    margin-bottom: 0;
    font-weight: bold;
}

.commits-list-item .commit-meta {
    margin-top: 1px;
    font-weight: normal;
    color: #767676;
}

.user-mention, .team-mention {
    font-weight: bold;
    color: #333;
    white-space: nowrap;
}

.commit-author {
    color: #767676;
    font-weight: bold;
}