.section {
	margin-top: 2em;
}

.endsNumber {
	background-color: #E6F1F6; 
}

.commit {
	border: 1px solid #e1dfdf;
	padding: 15px 10px 15px 10px;

}
.commit img {
	height: 50px;
	margin-right: 1em;
}
.commit span {
	font-size: 1.75rem;

}

.commit p {
		margin: 0;
		position: relative;
		float: right;
		top: 10px;
		font-weight: 600;
}
