{% extends 'base.html.twig' %}

{% block title %}PZal's Picmonic Demo{% endblock %}

{% block body %}

Testing bootstrap grid:
<div class="row">
	<div class="col-md-3">
		col-md-3
	</div>
	<div class="col-md-6">
		{{ dump(commits) }}
	</div>
	<div class="col-md-3">
		{{ modelTest }}
	</div>
</div>

{% endblock %}

