{% extends 'base.html.twig' %}

{% block title %}PZal's Picmonic Demo{% endblock %}

{% block body %}

Testing the debug dump array function:
{{ dump(testArray) }}

Testing bootstrap grid:
<div class="row">
	<div class="col-md-3">
		col-md-3
	</div>
	<div class="col-md-6">
		col-md-6
	</div>
	<div class="col-md-3">
		col-md-3
	</div>
</div>

{% endblock %}

