@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import url(http://fonts.googleapis.com/css?family=Inconsolata);

$font-stack: "Inconsolata";

body {
  font: 100% $font-stack;
}

$x: rgb(230,241,246);
.x{ background: $x; }